.Listener {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.Listener .container {
    height: 5vw;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    border: 1px solid #a0a0a0;
}

.Listener .container:first-child {
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

.Listener .container .output {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
}

.Listener .container textarea {
    border-radius: 0.5rem 0.5rem 0 0;
    display: block;
    width: 100%;
    padding: 0.5rem;
    resize: none;
    height: 100%;
    background-color: #dddddd;
}

.Listener .container > span {
    color: #888888;
    padding-left: 0.5rem;
    font-size: 0.8rem;
    background-color: #373636;
    border-radius: 0 0 0.5rem 0.5rem;
}

.Listener .answer {
    background-color: #373636;
    padding: 0.5rem 0.5rem;
    border: 1px solid #a0a0a0;
    border-radius: 1rem;
    margin-bottom: 0.5rem;
    width: 80%;
    align-self: flex-end;
}

.Listener .answer.ext {
    background-color: #242323;
    padding: 0.5rem 0.5rem;
    border-radius: 1rem;
    margin-bottom: 0.5rem;
    align-self: unset;
}

.Listener .answer p, .Listener .answer pre {
    margin: 0;
    padding: 0;
    white-space: normal;
}

.Listener .answer .top {
    font-size: 0.8rem;
    display: flex;
}

.Listener .answer .top .time {
    font-style: italic;
    color: #a0a0a0;
}

.Listener .answer .top .context {
    color: #ff603d;
    margin-left: 0.5rem;
}

.Listener .alternatives {
    margin-top: 0.2rem;
}

.Listener .alternatives .text{
    margin-left: 0.5rem;
}

.Listener .alternatives button {
    display: flex;
    align-items: center;
    padding: 0.2rem 0.5rem 0.2rem 0;
    text-decoration: none;
    background-color: transparent;
}

.Listener .alternatives button:hover {
    text-decoration: underline;
}

.Listener .alternatives button .icon {
    margin-right: 0.2rem;
}

.browser-body #Listener {
    padding-top: 2.8rem;
}