<section>
    <h3>Сеть намерений</h3>
    <h4>Экосистема для управления роботами</h4>
    <p>
        Вам когда нибудь хотелось сказать вашему холодильнику: "Эй ты слишком переохлаждаешь молоко"?<br/>
        Или спросить у него: "У меня остался сыр?"<br/>
        Сказать стиральной машине: "Постирай эти веши деликатно"<br/>
        Попросить чайник: "подогрей воду для чая"<br/>
        Давайте представим, как это можно технически реализовать. Для начала нужно оснастить холодильник микрофоном и системой распознавания голоса.
        Распознавание голоса на сегодняшний день требует больших вычислительных ресурсов. Подключить его к облаку? Подключить все устройства к облаку?<br/>
        Мало кому понравится транслировать все что происходит в вашем доме на неизвестные сервера.
        А если нет интернета, то вся инфраструктура становится бесполезной. Но даже если сделать так, чтобы каждое устройство имело свое подключение в облаке, как устройства
        будут взаимодействовать друг с другом?<br/>
        <br/>
        Именно эти задачи решает сеть намерений.<br/>
        <br/>
        Все устройства в сети намерений могут взаимодействовать друг с другом напрямую без внешнего подключения к интернету.<br/>
        Для того, чтобы все устройства могли распознавать голосовые команды, достаточно одного устройства, которое может это делать.
        Это может быть ваш телефон, транслирующий данные в облако, только когда вы обращаетесь к устройствам в сети или это может быть домашний компьютер с микрофоном,
        использующий локальную систему распознавания голоса.
    </p>
    <h4>Как работает сеть намерений?</h4>
    <p>
        В классике, мы сначала получаем доступ к требуемому устройству, затем взаимодействуем с ним.<br/>
        В сети намерений, мы сначала создаем <b>намерение</b> - желание что-то дать или получить. Это намерение транслируется между устройствами
        в поисках устройств со встречным намерением. И только когда такие устройства будут найдены, между ними будет установлен канал передачи данных в контексте данного действия.<br/>
    </p>
    <h4>Ссылки</h4>
    <p>
         Подробную документацию и обучающие материалы вы сможете найти в git репозитории проекта<br/>
        <a href="https://bitbucket.org/intentionteam/intentionstorage" target="_blank">https://bitbucket.org/intentionteam/intentionstorage</a>
    </p>
</section>
