<section>
    <h3>Intention Network</h3>
    <h4>Ecosystem for robot control</h4>
    <p>
        Have you ever wanted to say to your fridge, "Hey, you're overcooling milk"?<br/>
        Or ask him: "Do I have any cheese left?"<br/>
        Say to the washing machine, "Wash these cloths delicately"<br/>
        Ask for a kettle: "heat the water for tea"<br/>
        Let's imagine how it can be technically implemented. First you need to equip the refrigerator with a microphone and voice recognition system.
        Voice recognition today requires a lot of computing resources. Connect it to the cloud? Connect all devices to the cloud?<br/>
        Few people like to broadcast everything that happens in your home to unknown servers.
        If there is no Internet, the entire infrastructure becomes useless. Even if you make sure that each
        device has its own connection to the cloud then how will they interact with each other?<br/>
        <br/>
        These problems are solves by a network of intentions.<br/>
        <br/>
        All devices in the intention network can communicate with each other directly without an external Internet connection.<br/>
        If only one device can recognize voice, all devices can do it.
        It can be your phone, with cloud speech recognition. It will broadcasts data to cloud only if you use it. Or it can be
        your home computer with microphone and offline recognition system.
    </p>
    <h4>How Intention Network works?</h4>
    <p>
        In the classics, first we access the desired device, then interact with it.<br/>
        In Intention network first we create <b>Intention</b> - wish for giving or taking something.
        It will be broadcasts between devices until device with counter intention is found.
        Then data channel is established between devices in context of this intention.
    </p>
    <h4>Links</h4>
    <p>
        Additional help and tutorials can be founded at our git repository<br/>
        <a href="https://bitbucket.org/intentionteam/intentionstorage" target="_blank">https://bitbucket.org/intentionteam/intentionstorage</a>
    </p>
</section>
